# Intellij project files
*.iml
*.ipr
*.iws
.idea/*
!.idea/runConfigurations/*

# Files and directories created by pub
.dart_tool/
.packages
.pub/
build/

# Directory created by dartdoc
doc/api/

# Flutter i18n
res/values/strings_en.arb